@use "../../../shared/global/globalStyles/global" as *;

.aside {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: initial;
  overflow-y: initial;
  background-color: white;
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__spoiler {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
  }

  &__title {
    @include header-3;
    font-weight: 600;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    width: 100%;
    pointer-events: none;
    opacity: 0;
  }

  &__content.open {
    max-height: 500px;
    pointer-events: auto;
    opacity: 1;
  }

  &__arrow {
    transition: transform 0.3s ease-out;
    transform: rotate(-90deg);
    width: 4%;
  }

  &__arrow.open {
    transform: rotate(90deg);
  }

  &__showMoreButton {
    display: flex;
    justify-content: start;
    color: $color-accent;
  }
}
