@use "./vars" as *;
@use "sass:math";

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin on-big-desktop {
  @media (min-width: $large-screen-min-width) {
    @content;
  }
}

@mixin on-mobile {
  @media (min-width: $mobile-min-width) {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 24px;

  @include on-tablet {
    padding-inline: 32px;
  }

  @include on-desktop {
    max-width: 1200px;
    padding-inline: 0;
  }
}

@mixin container {
  @include content-padding-inline;

  @include on-desktop {
    width: 100%;
    margin: 0 auto;
  }
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  column-gap: 20px;
  row-gap: 32px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 12;
  }
}

@mixin hover($_property, $_toValue) {
  @media (hover: hover) {
    transition: #{$_property} 0.3s;

    &:hover {
      #{$_property}: $_toValue;
    }
  }
}

@mixin navbar-item-after {
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 3px;
    background-color: $main-text-color;
    width: 100%;
    display: block;
  }
}

@mixin aside-item-after {
  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    height: 2px;
    background-color: $main-text-color;
    width: 100%;
    display: block;
  }
}

@mixin header-1 {
  font-size: 88px;

  @include on-tablet {
    font-size: 168px;
  }

  @include on-desktop {
    font-size: 192px;
  }

  font-weight: 600;
  line-height: 1;
  letter-spacing: em(0.396, 198);
  text-transform: uppercase;
  color: $color-text;
}

@mixin header-2 {
  font-size: clamp(72px, 2vw + 1rem, 96px);
  font-weight: 500;
  line-height: 87%;
  letter-spacing: em(0.128, 64);
  color: $color-text;
}

@mixin header-3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 0%;
  color: $color-text;
}

@mixin header-4 {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: $color-text;
}

@mixin body-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  color: $color-secondary;
}

@mixin small-text {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: $color-secondary;
}

@mixin buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

@mixin price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: 0%;
  color: $color-text;
}

@mixin titlecards {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: $color-text;
}

@mixin adaptiveValue(
  $property,
  $startSize,
  $minSize,
  $widthFrom: $containerWidth,
  $widthTo: $minWidth,
  $keepSize: 0
) {
  @if ($startSize==0) {
    $startSize: 0.000001;
  }

  @if ($minSize==0) {
    $minSize: 0.000001;
  }

  $addSize: math.div($startSize - $minSize, 16);

  @if ($widthFrom == $containerWidth and $maxWidthContainer == 0) {
    $widthFrom: $maxWidth;
  }

  $widthFromMedia: em($widthFrom);
  $widthToMedia: em($widthTo);

  $slope: math.div(($startSize - $minSize), ($widthFrom - $widthTo));
  $yIntersection: -$widthTo * $slope + $minSize;

  @if ($yIntersection==0) {
    $yIntersection: 0.000001;
  }

  $flyValue: #{rem($yIntersection)}" + " #{$slope * 100}vw;

  $propertyValue: #{"clamp(" rem($minSize) "," $flyValue "," rem($startSize) ")"};

  @if ($minSize > $startSize) {
    $propertyValue: #{"clamp("
      rem($startSize)
      ","
      $flyValue
      ","
      rem($minSize)
      ")"};
  }

  @supports (#{$property}: $propertyValue) {
    #{$property}: $propertyValue;
  }

  @supports not (#{$property}: $propertyValue) {
    #{$property}: calc(
      #{rem($minSize)} + #{$addSize} * (100vw - #{rem($widthTo)}) / #{math.div(
          $widthFrom,
          16
        ) - math.div($widthTo, 16)}
    );
  }

  @if $widthFrom !=
    $containerWidth and
    $widthFrom !=
    $maxWidth and
    $keepSize !=
    1 and
    $keepSize !=
    2
  {
    @media (min-width: $widthFromMedia) {
      #{$property}: inherit;
    }
  }
  @if $widthTo != $minWidth and $keepSize != 1 and $keepSize != 3 {
    @media (max-width: $widthToMedia) {
      #{$property}: inherit;
    }
  }
}

@function percent($px, $from) {
  $result: math.div($px, $from) * 100%;

  @return $result;
}

@function rem($px) {
  $result: math.div($px, 16) + rem;

  @return $result;
}

@function em($px, $current: 16) {
  $result: math.div($px, $current) + em;

  @return $result;
}
