// fonts
$fontFamily: "TT Firs Neue";

$color-primary: #2a2a2a;
$color-accent: #f93f04;
$color-accent-secondary: #ff6230;
$color-reverse: #ffffff;
$color-primary-grey: #f9f9f9;
$color-system-grey: #9b9b9b;
$color-secondary-grey: #dadada;
$color-secondary: $color-system-grey;

$color-background: $color-accent;
$color-background-secondary: $color-accent-secondary;
$color-background-reverse: $color-reverse;
$color-background-block: $color-primary-grey;
$color-background-edge: $color-primary;

$color-text: $color-primary;
$color-text-reverse: $color-reverse;
$color-text-muted: $color-system-grey;
$color-text-accent: $color-accent;

$color-border: $color-system-grey;
$color-border-reverse: $color-reverse;

// sizes
$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1200px;
$large-screen-min-width: 1440px;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1200;
$containerPadding: 30;
$containerWidth: $maxWidthContainer + $containerPadding;
