.modal {
  &__control {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }

  &__close {
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
  }
}
