@use "../../shared/globalStyles/global" as *;

.indevelopment {
  &__container {
    margin: 0 auto;
    padding: 0 0.9375rem;
  }

  &__maincontent {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__logo {
    height: 36px;
    width: 183px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    line-height: 1.2;
  }
}
