@use "../../shared/globalStyles/global" as *;

.favourite {
  &__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__box {
    @include page-grid;
    row-gap: 70px;

    @include on-tablet {
      row-gap: 110px;
    }
  }

  &__header {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: row;
    gap: 6px;
  }

  &__title {
    font-weight: 600;
  }

  &__slider {
    grid-column: 1 / -1;
  }

  &__productsBody {
    grid-column: 1 / -1;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    column-gap: 20px;

    @include on-mobile-landscape {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-tablet-landscape {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
