@use "../../shared/globalStyles/global" as *;

.button {
  display: inline-block;
  border-radius: 16px;
  width: 100%;
  padding-block: 16px;
  background-color: $color-accent;
  transition: background-color 0.3s;

  &__transparent {
    background-color: transparent;
    border: 2px solid $color-background;
    width: 234px;

    .button__title {
      color: $color-background;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  &__title {
    @include buttons;
    color: $color-background;
  }

  &__pressed {
    background-color: $color-background;

    .button__title {
      color: $color-text;
    }
  }

  &:hover {
    background-color: darken($color-accent, 5%);
  }

  &:active {
    transform: scale(0.99);
  }
}
