@use "../../shared/global/globalStyles/global" as *;

.button {
  display: inline-block;
  border-radius: 16px;
  width: 100%;
  padding-block: 16px;
  background-color: $color-accent;

  &__transparent {
    background-color: transparent;
    border: 2px solid $color-background;
    width: 234px;

    .button__title {
      color: $color-background;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
  }

  &__title {
    @include buttons;
    color: $color-background;
  }
}
