@use "../../shared/globalStyles/global" as *;

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;

  &__link {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
    height: 363px;
  }

  &__linkInfo {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
  }

  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-radius: 6px;
  }

  &__title {
    display: block;
    width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--color-text);
  }

  &__price {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.29;
    letter-spacing: 0%;
    color: var(--color-text);
  }

  &__price--old {
    color: var(--color-secondary-grey);
    text-decoration: line-through;
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
  }

  &__infolabel {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    align-items: center;
    gap: 2px;
    background-color: var(--color-background-reverse);
    border-radius: 11px;
    color: var(--color-text-accent);
    padding-block: 6px;
    padding-inline: 10px;
  }

  &__button {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-reverse);
    border-radius: 50%;
    height: 36px;
    width: 36px;
  }

  &__buttonIcon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
