@use "../../shared/globalStyles/global" as *;

.button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;

  width: 100%;
  height: 100%;

  @include hover(transform, rotate(-15deg));
}
