@use "../../shared/globalStyles/global" as *;

@use "../../shared/globalStyles/mixins" as *;

.catalogpage {
  &__body {
    @include page-grid;
  }

  &__aside {
    display: none;

    @include on-tablet {
      display: block;
      grid-column: 1 / 3;
    }
  }

  &__main {
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      grid-column: 4 / -1;
    }
  }

  &__title {
    @include header-3;
    font-weight: 600;
  }

  &__chips {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    column-gap: 20px;

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-big-desktop {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
