@use "../../shared/globalStyles/global" as *;

.catalog {
  &__body {
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 102, -40);
  }

  &__main {
    width: 100%;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      grid-column: 4 / -1;
    }
  }

  &__title {
    font-weight: 600;
    text-transform: initial;
  }

  &__chips {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    column-gap: 20px;

    @include on-mobile-landscape {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-tablet-landscape {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__error {
    text-align: center;
    margin-top: 24px;
    grid-column: 1 / -1;
  }

  &__skeleton {
    display: flex;
    flex-direction: column;
  }
}
