@use "../../shared/globalStyles/global" as *;

.list {
  display: flex;
  flex-direction: column;

  &__item {
    font-size: 18px;
    padding: 8px;
    text-align: left;
    transition: all 0.2s ease;
  }

  @include on-tablet {
    position: absolute;
    right: 0;
    top: calc(100% + 5px);
    gap: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid var(--color-system-grey);
    background-color: var(--color-reverse);
    transition: all 0.3s ease;
    z-index: 10;
  }
}